[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lmdb = "*"
pyrchain = "*"
aiohttp = "*"
cchardet = "*"
aiodns = "*"
cachetools = "*"

[requires]
python_version = "3.7"
